body {
  background-color: #303030;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
text-align:center;
justify-content: space-between;
align-items: center;
font-size: 25px;
}


section.container {
display: grid;
grid-template-rows: repeat(6, 11vmin);
grid-template-columns: repeat(7, 11vmin);
grid-gap: 0vmin;
justify-content: center;
background: blue;
padding: 10px 15px;
border-radius: 20px;
margin-bottom: 40px;
max-width: fit-content;
}

section > div {
border: 2px solid black;
font-size: 8vmin;
text-align: center;
vertical-align: middle;
border-radius: 50%;
margin: 2px;
cursor: pointer;
text-align: center;
}



button{
width: 15rem;
height: 5rem;
border-radius: 10px;
border: none;
font-size: 30px;
font-weight: bold;
background-color: red ;
color: White;
border: 2px white solid;
font-family: 'Space Mono', monospace;
cursor: pointer;
}

button:hover{
background-color:rgba(255, 255, 255, 1);;
color: rgb(0, 183, 255);
border: 2px rgb(0, 183, 255) solid;
}



#my-message{
  margin-top: 1rem;
  font-family: 'Uncracked Free Trial','Space Mono', monospace;
  grid-area: message;
  margin-bottom: -.5rem;
  letter-spacing: 1rem;
  font-size: 70px;
}

header{
  text-align: center;
  color:rgb(0, 0, 0)
}

i{
  margin-top: 10%;
}


#my-canvas{
  position: fixed;
  width: 100%;
  height: 110vh;
  top:0;
  left:0;
  z-index: -1;
}


body.light{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 1s;
}


body.dark{
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 1s;
}

.outter-toggle.light{
  width: 160px;
  height: 75px;
  background-image:url('/gifs/light\ giff\ 2.gif');
  border-radius: 50px;
  border:black 2px solid;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}


.outter-toggle.dark{
  width: 160px;
  height: 75px;
  background-image: url('/gifs/star\ gazing\ 2.gif');
  border-radius: 50px;
  border:rgb(255, 255, 255) 2px solid;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}


.inner-toggle.light{
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border: black solid 2px;
  border-radius: 50%;
  margin-top: 5px;
  transition: .75s;
}


.inner-toggle.dark{
  width: 70px;
  height: 70px;
  background-color: rgb(0, 0, 0);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 50%;
  margin-top: 5px;
  transition: .75s;
}
