/* body {
  background-color: #303030;
margin: 0;
height: 100vh;
display: flex;
flex-direction: row;
text-align:center;
justify-content: space-between;
align-items: center;
font-size: 25px;
line-height: 220%;
transform-origin: 2s;
} */


section.container {
display: grid;
grid-template-rows: repeat(6, 11vmin);
grid-template-columns: repeat(7, 11vmin);
grid-gap: 0vmin;
justify-content: center;
background: rgba(0, 0, 255,0);
padding: 10px 15px;
border-radius: 20px;
margin-bottom: 40px;
max-width: fit-content;
}

section > div {
border: 2px solid black;
font-size: 8vmin;
text-align: center;
vertical-align: middle;
border-radius: 50%;
margin: 2px;
cursor: pointer;
text-align: center;
}



/* button{
  width: 130px;
  height: 70px;
  border-radius: 50px;
  border:black 2px solid;
  margin-bottom: 1rem;
  margin-left: 10px;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
}

button:hover{
background-color:rgba(255, 255, 255, 1);;
color: rgb(0, 183, 255, 0);
border: 2px rgb(0, 183, 255) solid;
} */



#my-message{
  margin-top: 1rem;
  font-family: 'Uncracked Free Trial','Space Mono', monospace;
  grid-area: message;
  margin-bottom: 5px;
  letter-spacing: 1rem;
  font-size: 70px;
}

header{
  text-align: center;
  color:rgb(0, 0, 0)
}

i{
  margin-top: 10%;
}


#my-canvas{
  position: fixed;
  width: 100%;
  height: 110vh;
  top:0;
  left:0;
  z-index: -1;
}


body.light{
  background:linear-gradient( rgb(255, 145, 196), white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 310%;
}


body.dark{
  background-image: url('/gifs/starry\ sky.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 310%;
}

.outter-toggle.light{
  width: 120px;
  height: 60px;
  background-image:url('/gifs/light\ giff\ 2.gif');
  border-radius: 50px;
  border:black 2px solid;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 1rem;
}


.outter-toggle.dark{
  width: 120px;
  height: 60px;
  background-image: url('/gifs/star\ gazing\ 2.gif');
  border-radius: 50px;
  border:rgb(255, 255, 255) 2px solid;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.outter-toggle.dark:hover{
  border:rgb(0, 183, 255) 2px solid;
  transition: .75s;
}

.inner-toggle.light{
  width: 55px;
  height: 55px;
  background-color: rgb(255, 255, 255);
  border: black solid 2px;
  border-radius: 50%;
  margin-top: 5px;
  transition: .5s;
}


.inner-toggle.dark{
  width: 55px;
  height: 55px;
  background-color: rgb(0, 0, 0);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 50%;
  margin-top: 5px;
  transition: .75s;
}


.message-game-container{
  min-width: 90vh;
  max-width: 100vh;
  min-height: 100vh;
}

button.light{
  width: 130px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 1rem;
  margin-left: 10px;
  background-color: rgb(0, 0, 0, 0);
  border: 2px rgb(0, 0, 0) solid;
  transition: .5s;
  color: rgb(0, 0, 0);
}

button.light:hover{
  background:rgb(0, 183, 255); ;
  color: black;
  transition: .5s;
}

button.dark{
  width: 130px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 1rem;
  margin-left: 10px;
  background-color: rgb(0, 0, 0);
  border: 2px white solid;
  transition: .5s;
  color: white;
}


button.dark:hover{
  background-color: rgb(0, 0, 0);
  border: 2px rgb(0, 183, 255) solid;
  transition: .5s;
}


h1.light{
  color: rgb(0, 0, 0);
  transition: .5s;
}

h1.dark{
  color:white;
  transition: .5s;
}
