body {
  background-color: rgb(255, 255, 255);
/* Use a system font, if none are available use an available sans-sarif   font */
margin: 0;
height: 100vh;
display: grid;
flex-direction: column;
text-align:center;
justify-content: center;
align-items: center;
}
/* .flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
} */
section.container {
display: grid;
grid-template-rows: repeat(6, 14vmin);
grid-template-columns: repeat(7, 14vmin);
grid-gap: 0vmin;
justify-content: center;
}

section > div {
border: 3px solid black;
font-size: 8vmin;
text-align: center;
vertical-align: middle;
}

#reset-button{
width: 20%;
height: 7%;
border-radius: 10px;
border: none;
font-size: 18px;
font-weight: bold;
margin-left:43%;
margin-top: 20px;
background-color: red ;
color: White;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
cursor: pointer;
}

#reset-button:hover{
background-color:rgb(255, 255, 255);
color: red;
}